#
# Learn about CODEOWNERS file format:
#   https://help.github.com/en/articles/about-code-owners
#
# Each line is a file pattern followed by one or more owners.
# Later matches take precedence over earlier ones.
#
# These owners will be the default owners for everything in
# the repo and will be requested for review when someone
# opens a pull request.
*                       @ROCm/vllm-maintainers
#
# This file itself
/.github/CODEOWNERS     @ROCm/rocm-security-gh-admins
